table {
    color: white;
    width: 45rem;
    height: 100%;
    margin: 1rem;
    padding: 3rem;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
}

td, tr{
    color: white;
    vertical-align: top;
    text-align: center;
    padding: 0rem;
}

#tdLeft {
    width: 18rem;
    padding-right: 1rem;
}

#tdRight {
    padding-left: 1rem;
    width: 18rem;
    height: 20rem;
    padding-bottom: 3rem;
}

#tdBTRight {
    height: 10rem;
}

#tdRightBottom {
    padding-top: 0rem;
    text-align: left;
    vertical-align: top;
    padding-left: 1rem;
    height: 20rem;
}

.tableBottom {
    vertical-align: bottom;
    width: 41rem;
    height: 10rem;
    margin-top: 0rem;
    padding-top: 0rem;
    margin: 1rem;
    padding: 0rem;
    margin-left: 4rem;
}

.resultIMG {
    width: 18rem;
    height: auto;
    border-radius: 2.25rem;
}

p {
    text-align: left;
    font-size: 1.25rem;
}

.tapCircle {
    width: 4.35rem;
    height: 4.35rem;
    background-color: #00BFC3;
    box-shadow: #FFD33B 0 0.5rem ;
    border: none;
    border-radius: 100%;
    padding-left: 0.2rem;
    padding-top: 0.7rem;
    text-align: center;
    color: black;
    font-size: 1.375rem;
    font-weight: bold;
    z-index: 10;
    float: right;
    position: relative;
    top: 0.45rem;
    right: -0.3rem;
}

.whiteboxR {
  position: absolute;

}

.whiteboxL {
    width: auto;
    background-color: white;
    height: 6rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
    border-radius: 2rem;
    vertical-align: top;
}

.whiteboxR {
    width: 17rem;
    background-color: white;
    height: 5.05rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
    border-radius: 0.75rem;
    border: solid black;
    border-width: 0.2rem;
    vertical-align: top;
    box-shadow: #FF2273 0 0.75rem;
    padding: 0.5rem;
    text-align: left;
    color: black;
    font-size: 1.25rem;
    font-weight: bold;
}

.whitebar {
    width: 18.rem;
    background-color: white;
    height: 2.5rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    justify-content: space-evenly;
    vertical-align: middle;
    padding: 0.7rem 0;
    text-align: center;
    color: black;
    font-size: 1.25rem;
    font-weight: bold;
}

.whitebar > span {
    position: relative;
    top: -0.23rem;
    text-align: center;
    color: black;
    font-size: 1.25rem;
    font-weight: bold;
}

#barTable {
    padding: 0rem;
    margin: 0rem;
    width: 96%;
    height: 100%;
}

.starGray, .starBlue, .starYellow, .starPink{
    position:relative;
    margin:0em auto;
    width: 1rem;
    height: 1rem;
    font-size:0.6rem;
}
  
.starGray:before{
    content:"";
    position:absolute;
    background:#D9D9D9;
    width:1em;
    height:1.15em;
    transform:rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
}

.starGray:after{
    content:"";
    position:absolute;
    background:#D9D9D9;
    width:1em;
    height:1.15em;
    transform:rotate(45deg) skewX(22.5deg) skewY(22.5deg);
}

.starBlue:before{
    content:"";
    position:absolute;
    background:#00BFC3;
    width:1em;
    height:1.15em;
    transform:rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
}

.starBlue:after{
    content:"";
    position:absolute;
    background:#00BFC3;
    width:1em;
    height:1.15em;
    transform:rotate(45deg) skewX(22.5deg) skewY(22.5deg);
}


.starYellow:before{
    content:"";
    position:absolute;
    background:#FFD33B;
    width:1em;
    height:1.15em;
    transform:rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
}

.starYellow:after{
    content:"";
    position:absolute;
    background:#FFD33B;
    width:1em;
    height:1.15em;
    transform:rotate(45deg) skewX(22.5deg) skewY(22.5deg);
}
  
.starPink:before{
    content:"";
    position:absolute;
    background:#FF2273;
    width:1em;
    height:1.15em;
    transform:rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
}

.starPink:after{
    content:"";
    position:absolute;
    background:#FF2273;
    width:1em;
    height:1.15em;
    transform:rotate(45deg) skewX(22.5deg) skewY(22.5deg);
}
